
.counties {
  fill: none;
}



body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  tab-size: 2;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}


.states {
  /*fill: none;
  stroke: #000;*/
 /* stroke-linejoin: round;*/

  stroke: #999;
  /*stroke-dasharray: 2,2;*/
  stroke-linejoin: round;
}

.black { fill: #000000;}

.title {
  font-size: 25px;
  font-weight: 300;

}

.tick text {
  font-size: 10px;
}

.subunit {
  /*fill: #ddc; */
  cursor: pointer;
}

.subunit-boundary {
  fill: none;
  stroke: #fff;
  /*stroke-dasharray: 2,2;
  stroke-linejoin: round;*/
}

.caption {
  font-size: 20px;
}

/*
div.tooltip {
    position: absolute;
    text-align: left;
    width: 50px;
    height: 15px;
    padding: 2px;
    padding-left: 6px;
    font: 12px sans-serif;
    background: #000;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    color: #fff;
}
*/

div.tooltip {
    position: absolute;
    text-align: left;
    display: inline;
    padding: 6px;
    font: 13px sans-serif;
    background-color: #000;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    color: #fff;
}



.svg {
  width: 960px;
  margin: 0 auto;
}
